* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}

html, body {
    height: 100vh;
}

/* HEADER */

header {
    display: flex;
    justify-content: center;
    background: #226ED8;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.3);
}

header .container{
    padding: 18px 0;
    width: 90%;
    max-width: 980px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.logo .blue {
    display: none;
}

header h1 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 45px;
    color: #FAFAFA;
}

input[type="checkbox"] {
    display: none;
}

header .button {
    width: 50px;
    height: 24px;
    display: flex;
    align-items: center;
    background: linear-gradient(90deg, #FFC93F 0%, #FFC93F 0.01%, #FFE03F 100%);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    position: relative;
}

header .button .circle {
    margin-left: 2px;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FFFFFF;
    border-radius: 100px;
    cursor: pointer;
}

.button i {
    font-size: 16px;
}

i #sun{
    color: #FBB910;
}

i #moon {
    display: none;
}

/* MAIN */

main {
    display: flex;
    justify-content: center;
    background: #FFFFFF;
    color: #141414;
}

.cards{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    max-width: 980px;
}

.frase {
    background: #DF0000;
    padding: 32px 340px 32px 0;
}

.frase .container{
    padding: 16px;
    padding-right: 20px;
    width: 620px;
    display: flex;
    justify-content: space-between;
    background: #FFFFFF;
    box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.04);
    border-radius: 20px;   
}

.frase .circle {
    width: 44px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FFFCEE;
    border-radius: 100px;
}

.frase .circle span{
    width: 34px;
    height: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FFF5C0;
    border-radius: 100px;
}

.frase .circle i {
    width: 24px;
    height: 24px;
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    color: #FBB910;
}

.frase .text {
    width: 90%;
    max-width: 532px;;
    display: flex;
    flex-direction: column;
}

.frase h6 {
    margin-bottom: 6px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
    
}

.frase p {
    width: 532px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
}

.kanban {
    background: yellow;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.kanban .card {
    width: 293px;
}

.kanban .header {
    margin-bottom: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.kanban h2 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
}

#add-task-btn {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #226ED8;
    background: none;
    border-radius: 40px;
}

#add-task-btn i{
    width: 16px;
    height: 16px;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #226ED8;
}

ul {
    min-width: 287px;;
    height: 337px;
    background: #EEEEEE;
    border-radius: 10px;
    overflow-x: auto;
}

ul::-webkit-scrollbar {
    width: 6px;
    height: 270px;
}

ul::-webkit-scrollbar-track {
    border-radius: 10px;
}

ul::-webkit-scrollbar-thumb {
    background: #C4C4C4;
    border-radius: 20px;
}

li {
    padding: 12px;
    margin: 14px;
    background: #FFFFFF;
    border-radius: 10px;
    position: relative;
}

li h3 {
    width: 225px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
}

#remove-btn {
    position: absolute;
    top:0;
    right: 0;
    width: 16px;
    height: 16px;
    margin: 10px;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #DF0000;
    background: none;
    border: none;
}

#description-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    border: none;
    color: #141414
}

#description-btn p {
    max-width: 118px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 18px;
}

#description-btn i {
    width: 12px;
    height: 12px;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
}

.description p.hidden {
    width: 195px;
    display: none;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
}

li .status {
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 10px;
    width: 46px;
    display: flex;
    justify-content: space-between;
}

#back-btn {
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FFFFFF;
    border: 1px solid #226ED8;
    border-radius: 20px;
}

#back-btn i {
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #226ED8;
}

#advance-btn {
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #226ED8;
    border-radius: 20px;
    border: none;
}

#advance-btn i {
    font-weight: 400;
    font-size: 16px;
    line-height: 16px; 
    color: #FFFFFF;
}

.completed {
    text-decoration: line-through;
}

.a-list #back-btn {
    display: none;
}

.a-list .status {
    width: 20px;
}

/* FOOTER */

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #114FA7;
    color: #FFFFFF;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
}

footer .container {
    padding: 15px 0;
    width: 90%;
    max-width: 980px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

footer a {
    color: #FFFFFF;
    text-decoration: none;
}

footer .amor {
    display: flex;
    justify-content: center;
    align-items: center;
}

.amor i{
    margin-left: 5px;
    margin-right: 5px;
    color: #FFAFAF;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
}

/* MODAL */

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    background: rgba(20, 20, 20, 0.4);
    z-index: 999;
}

.modal.show {
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal .container {
    padding: 30px 50px 40px 50px;
    width: 474px;
    height: 421px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    position: relative;
}

.modal h2 {
    width: 106px;
    color: #3867D6;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    
}

.modal hr {
    padding: 3px;
    width: 121px;
    background: #3867D6;
    border: none;
    border-radius: 10px;
}

form {
    color: #141414;
}

.modal p {
    margin-bottom: 6px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
}

input[type="text"], textarea {
    padding: 10px 16px;
    width: 374px;
    margin-bottom: 20px;
    background: #EEEEEE;
    color: #141414;
    border-radius: 10px;
    border: none;
    height: auto;
}

textarea {
    min-height: 90px;
    min-width: 374px;
    max-height: 90px;
    max-width: 374px;
}

#new-task-btn {
    margin-top: 20px;
    padding: 10px 0;
    width: 394px;
    background: linear-gradient(90.35deg, #4890F5 0%, #226ED8 99.7%);
    border-radius: 20px;
    color: #FFFFFF;
    border: none;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
}

#close-btn {
    position: absolute;
    top: 0px;
    right: 0px;
    margin: 10px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #3867D6;
    border-radius: 20px;
    background: none;
}

#close-btn i {
    width: 14px;
    height: 14px;
    color: #3867D6;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
}

