* {
    margin: 0;
    padding: 0;
}

header {
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    background: #226ED8;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.3);
}

header img {
    width: 23.28px;
    height: 40px;
}

header h1 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 45px;
    color: #FAFAFA;
}

header button {
    padding: 11px;
    width: 50px;
    height: 24px;
    display: flex;
    align-items: center;
    background: linear-gradient(90deg, #FFC93F 0%, #FFC93F 0.01%, #FFE03F 100%);
    border: none;
    border-radius: 50px;
}

header button .circle {
    width: 20px;
    height: 20px;
    position: relative;
    right: 9px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FFFFFF;
    border-radius: 100px;
}

header button .circle i {
    font-size: 16px;
    color: #FBB910;
}


.container {
    display: flex;
    padding: 22px;
}

.frase{
    width: 570px;
    margin-left: 160px;
    padding: 16px;
    display: flex;
    background: #FFFFFF;
    box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.04);
    border-radius: 20px;
}

.frase .circle {
    width: 44px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FFFCEE;
    border-radius: 100px;
}

.frase .circle span{
    width: 34px;
    height: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FFF5C0;
    border-radius: 100px;
}

.frase i {
    width: 24px;
    height: 24px;
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    color: #FBB910;
}

.frase .dia {
    margin-left: 7px;
}

.frase h6 {
    width: 75px;
    height: 18px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
    color: #141414;
}

.frase p {
    width: 532px;
    height: 63px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #141414;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 14px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;   
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    background: #114FA7;
}

footer a {
    color: #FFFFFF;
    text-decoration: none;
}

footer p {
    font-size: 14px;
    margin: 5px 0;
    color: #FFFFFF;
}

footer .amor {
    display: flex;
    align-items: center;
    text-align: center;
}

footer span{
    font-size: 16px;
    margin-left: 5px;
    margin-right: 5px;
    color: #FFAFAF;
}
