* {
    margin: 0;
    padding: 0;
    list-style: none;
}

header {
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    background: #226ED8;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.3);
}

header img {
    width: 23.28px;
    height: 40px;
}

header h1 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 45px;
    color: #FAFAFA;
}

header button {
    padding: 11px;
    width: 50px;
    height: 24px;
    display: flex;
    align-items: center;
    background: linear-gradient(90deg, #FFC93F 0%, #FFC93F 0.01%, #FFE03F 100%);
    border: none;
    border-radius: 50px;
}

header button .circle {
    width: 20px;
    height: 20px;
    position: relative;
    right: 9px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FFFFFF;
    border-radius: 100px;
}

header button .circle i {
    font-size: 16px;
    color: #FBB910;
}

.container {
    padding: 22px;
    margin-left: 160px;
}

.frase{
    width: 570px;
    padding: 16px;
    display: flex;
    background: #FFFFFF;
    box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.04);
    border-radius: 20px;
}

.frase .circle {
    width: 34px;
    height: 34px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FFFCEE;
    border-radius: 100px;
}

.frase .circle span{
    width: 34px;
    height: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FFF5C0;
    border-radius: 100px;
}

.frase i {
    width: 24px;
    height: 24px;
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    color: #FBB910;
}

.frase .dia {
    margin-left: 7px;
}

.frase h6 {
    width: 75px;
    height: 18px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
    color: #141414;
}

.frase p {
    width: 532px;
    height: 63px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #141414;
}

.kanban {
    display: flex;
    padding: 10px;
}

.em.andamento {
    margin-left: 40px;
    margin-right: 40px;
}

.kanban .header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.kanban h2 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #141414;
}

#add-task-btn {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border: 2px solid #226ED8;
    background: none;
    border-radius: 40px;
}

#add-task-btn span{
    width: 16px;
    height: 16px;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #226ED8;
}

ul {
    width: 293px;
    height: 337px;
    padding: 20px;
    flex-wrap: wrap;
    background: #EEEEEE;
    border-radius: 10px;
}

li {
    padding: 12px;
    background: #FFFFFF;
    border-radius: 10px;
    position: relative;
}

li h3 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: #141414;
}

#remove-btn {
    width: 16px;
    height: 16px;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #DF0000;
    background: none;
    border: none;
}

li .body{
    display: flex;
    justify-content: space-between;
}

#description-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    border: none;
    color: #141414;
}

#description-btn p {
    width: 80px;
    height: 18px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 18px;
}

#description-btn span {
    width: 12px;
    height: 12px;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
}

li .status {
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 10px;
    
    width: 46px;
    display: flex;
    justify-content: space-around;
}

#back-btn {
    box-sizing: border-box;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FFFFFF;
    border: 1px solid #226ED8;
    border-radius: 20px;
}

#back-btn span {
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #226ED8;
}

#advance-btn {
    box-sizing: border-box;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #226ED8;
    border-radius: 20px;
    border: none;
}

#advance-btn span {
    font-weight: 400;
    font-size: 16px;
    line-height: 16px; 
    color: #FFFFFF;
}



footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 14px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;   
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    background: #114FA7;
}

footer a {
    color: #FFFFFF;
    text-decoration: none;
}

footer p {
    font-size: 14px;
    margin: 5px 0;
    color: #FFFFFF;
}

footer .amor {
    display: flex;
    align-items: center;
    text-align: center;
}

footer span{
    font-size: 16px;
    margin-left: 5px;
    margin-right: 5px;
    color: #FFAFAF;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.modal.show {
    display: flex;
}

.modal .new-task {
    position: relative;
    background-color: white;
    padding: 30px 50px 40px 50px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    max-width: 400px;
    margin-right: 20px;
    justify-content: center;
    align-items: center;
}

.modal h2 {
    margin: auto;
    width: 106px;
    height: 30px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #3867D6;
}

hr {
    margin: auto;
    padding: 3px;
    width: 121px;
    border-radius: 10px;
    background: #3867D6;
    color: #3867D6;
}


.modal p {
    margin-bottom: 6px;
    width: 44px;
    height: 18px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    color: #141414;
}

form {
    
}

input[type="text"], textarea {
    width: 374px;
    padding: 10px;
    margin-bottom: 20px;
    background: #EEEEEE;
    border-radius: 10px;
    border: none;
    height: auto;
}

textarea {
    min-height: 90px;
    min-width: 374px;
}

#new-task-btn {
    margin-top: 20px;
    padding: 10px;
    width: 394px;
    height: 41px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #FFFFFF;
    background: linear-gradient(90.35deg, #4890F5 0%, #226ED8 99.7%);
    border-radius: 20px;
    border: none;
    
}

#close-btn {
    box-sizing: border-box;
    position: absolute;
    margin: 10px;
    top: 0px;
    right: 0px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #3867D6;
    border-radius: 20px;
    background: none;
}

#close-btn span {
    width: 14px;
    height: 14px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #3867D6;
}